<% include partials/header %>
<!--another ugly clock function, change it-->
<%
function dif(date1, date2) {
    function ret(val) {
        if (val[0] > 0) {
            save = val[0] + val[1]
            minutes = 0; hours = 0; days = 0; 
            months = 0; years = 0; seconds = 0;
            if (val[0] > 1)
                save += "s"
            return save
        }
        return "";
    }
    var one_day = 1000 * 60 * 60 * 24;
    var difference_ms = date2 - date1;
    difference_ms = difference_ms / 1000;
    var seconds = [Math.floor(difference_ms % 60), " second"];
    difference_ms = difference_ms / 60;
    var minutes = [Math.floor(difference_ms % 60), " minute"];
    difference_ms = difference_ms / 60;
    var hours = [Math.floor(difference_ms % 24), " hour"];
    var days = [Math.floor(difference_ms / 24), " day"];
    var months = [Math.floor(days % 30), " month"]
    var years = [Math.floor(days % 365), " year"]
    return ret(years) + " " + ret(months) + " " + ret(days) +
        " " + ret(hours) + " " + ret(minutes) + " " + ret(seconds)
}
 %>
<div class="col-res col-md-10 ">
    <%if(!curUser){%>
    <div class="card text-white border-0 bg-grad ">
        <div class="card-body">
            <div class="row">
                <div class="col-10 ">
                    <h3 class="font-weight-light">Welcome to socium!</h3>
                    <h6 class="font-weight-light">Log-in or Create a new accaunt!</h6>
                    <button type="button" class="btn btn-outline-light btn-sm mt-1" onclick="location.href = '/register'">Get started!</button>
                </div>
                <div class="col-2 ">
                    <i id="wc-ico" class="mt-2 fas fa-certificate float-right"></i>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <% posts.reverse().forEach(function(post){%>
    <div class="card bg-light">
        <div class="card-header">
            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="img" class=" border-socium rounded-circle border-dark "
                height="32">
            <b class="mt-0 text-dark">User</b>
            <span class="text-secondary float-right">
                <%= dif(Date.parse(post.time), Date.now())%> ago
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title text-dark">
                <%= post.title %>
            </h5>
            <%if (post.body != undefined) {
                if(post.body.length >100){%>
            <%=post.body.substring(0, 300)%>... <p><a href="/s/all/<%= post._id %>">read more...</i></a>
                <%}else{%>
                <%=post.body%>
                <%}
            }%>
        </div>
        <img src="<%= post.img %>" onerror="this.style.display='none'" class="card-img">
        <div class="card-footer ">
            <div class="text-center">
                <a href="#" class="btn btn-outline-danger border-0 float-right"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-outline-info border-0 float-right"><i class="fas fa-bullhorn"></i></a>
                <a href="/s/all/<%= post._id %>" class="btn btn-outline-info border-0 float-right"><i class="far fa-comments"></i>
                <%if(post.comments.length != 0){%>
                    <%=post.comments.length%>
                <%}%></a>
                <!--media-->
            </div>
        </div>
    </div>
    <% });%>
</div>
<div class="col-md-2 ">
    <a href="/s/all/new" class="btn btn-primary position-fixed">Create new post</a>
</div>
<% include partials/footer %>