<% include partials/header %>
<!--another ugly clock function, change it-->
<%
function dif(date1, date2) {
    function ret(val) {
        if (val[0] > 0) {
            save = val[0] + val[1]
            minutes = 0; hours = 0; days = 0; 
            months = 0; years = 0; seconds = 0;
            if (val[0] > 1)
                save += "s"
            return save
        }
        return "";
    }
    var one_day = 1000 * 60 * 60 * 24;
    var difference_ms = date2 - date1;
    difference_ms = difference_ms / 1000;
    var seconds = [Math.floor(difference_ms % 60), " second"];
    difference_ms = difference_ms / 60;
    var minutes = [Math.floor(difference_ms % 60), " minute"];
    difference_ms = difference_ms / 60;
    var hours = [Math.floor(difference_ms % 24), " hour"];
    var days = [Math.floor(difference_ms / 24), " day"];
    var months = [Math.floor(days % 30), " month"]
    var years = [Math.floor(days % 365), " year"]
    return ret(years) + " " + ret(months) + " " + ret(days) +
        " " + ret(hours) + " " + ret(minutes) + " " + ret(seconds)
}
function checkIMG(url) {
    return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
}
 %>
<div class="col-res col-md-10 ">
    <% include partials/flash %>
    <%if(!curUser){%>
    <div class="card text-white border-0 bg-grad ">
        <div class="card-body">
            <div class="row">
                <div class="col-10 ">
                    <h3 class="font-weight-light">Welcome to socium!</h3>
                    <h6 class="font-weight-light">Log-in or Create a new account!</h6>
                    <button type="button" class="btn btn-outline-light btn-sm mt-1" onclick="location.href = '/register'">Get started!</button>
                </div>
                <div class="col-2 ">
                    <i id="wc-ico" class="mt-2 fas fa-certificate float-right"></i>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <% posts.reverse().forEach(function(post){%>
    <div class="card bg-light">
        <div class="card-header">
            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="avatar" class=" border-socium rounded-circle border-dark "
                height="32">
            <b class="mt-0 text-dark"> <%=post.user.username%></b>
            <span class="text-secondary float-right">
                <%= dif(Date.parse(post.time), Date.now())%> ago
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title text-dark">
                <%= post.title %>
            </h5>
            <%if(post.body && post.body.length >100){%>
            <%=post.body.substring(0, 300)%>... <p><a href="/s/all/<%= post._id %>">read more...</i></a>
                <%}else{%>
                <%=post.body%>
                <%}%>
        </div>
        <%if(checkIMG(post.img)){%>
            <img onload="check(this)" id="post-img" src="<%= post.img %>" class="card-img" alt="Failed to load post img">
        <%}%>
        <div class="card-footer ">
            <div class="med">
                <a href="/s/all/<%= post._id %>" id="comment" class="bg-blue btn-med" 
                data-toggle="tooltip" data-placement="top" title="<%=post.comments.length%>"><i class="ico fas fa-comment"></i></a>
                <a href="#" id="share" class="bg-blue btn-med"><i class="ico fas fa-share"></i></a>
                <a href="#" id="like" class="bg-danger btn-med"><i class="fas fa-heart"></i></a>
                <!--media-->
            </div>
        </div>
    </div>
    <% });%>
</div>
<div class="col-md-2 ">
    <a href="/s/all/new" class="btn btn-primary position-fixed no-mob">Create new post</a>
</div>
<% include partials/footer %>