<% include partials/header %>
<!--ugly time function, need to change it later-->
<%
function dif(date1, date2) {
    function ret(val) {
        if (val[0] > 0) {
            save = val[0] + val[1]
            minutes = 0; hours = 0; days = 0; 
            months = 0; years = 0; seconds = 0;
            if (val[0] > 1)
                save += "s"
            return save
        }
        return "";
    }
    var one_day = 1000 * 60 * 60 * 24;
    var difference_ms = date2 - date1;
    difference_ms = difference_ms / 1000;
    var seconds = [Math.floor(difference_ms % 60), " second"];
    difference_ms = difference_ms / 60;
    var minutes = [Math.floor(difference_ms % 60), " minute"];
    difference_ms = difference_ms / 60;
    var hours = [Math.floor(difference_ms % 24), " hour"];
    var days = [Math.floor(difference_ms / 24), " day"];
    var months = [Math.floor(days % 30), " month"]
    var years = [Math.floor(days % 365), " year"]
    return ret(years) + " " + ret(months) + " " + ret(days) +
        " " + ret(hours) + " " + ret(minutes) + " " + ret(seconds)
}
 %>
<div class="col-res col-md-12 ">
    <!--post-->
    <div class="card mb-0 bg-light">
        <div class="card-header">
            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="img" class="fullimg border-socium rounded-circle border-dark "
                height="32">
            <b class="mt-0 text-dark">User</b>
            <span class="text-secondary float-right">
                <%=dif(Date.parse(post.time), Date.now());%> ago
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title text-dark">
                <%= post.title %>
                    <div class="dropdown float-right">
                        <button class="btn btn-outline-drop" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-secondary"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Options</h6>
                            <a href="<%= post._id %>/edit" class="dropdown-item" title="Edit post"><i class="soc fas fa-pen pr-1"></i> Edit Post</a>
                            <form action="<%=post._id%>?_method=DELETE" method="POST">
                                <button class="dropdown-item"><i class="red fas fa-trash pr-1"></i> Delete</button>
                            </form>
                        </div>
                    </div>
                
            </h5>
            <%=post.body%>
        </div>
            <img src="<%= post.img %>" onerror="this.style.display='none'" class="card-img">
            <div class="card-footer">
            <div class="text-center">
                <!--<a href="#" class="btn btn-med btn-outline-danger border-0 float-right"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn btn-med btn-outline-info border-0 float-right"><i class="fas fa-bullhorn"></i></a>
                  media-->
            </div>
            <!--comments section-->
            <h6 class="mt-3">Comments</h6>
            <%
            post.comments.forEach(function(comment){%>
                <ul class="list-unstyled ml-3">
                    <li class="media">
                        <figure class="figure mt-1 mr-2">
                            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png"
                             alt="img" class="fullimg border-socium rounded-circle border-dark "height="32">
                        </figure>
                        <div class="media-body">
                            <h6 class="mt-0"><%=comment.user.username%></h6>
                            <%=comment.text%>
                        </div>
                    </li>
                </ul>
            <%});%>
                <form action="/s/all/<%= post.id %>/comments" method="POST">
                  <textarea class="mt-1 form-control" name="comment[text]" placeholder="Text.." rows="3"></textarea>
                  <input type="submit" class="ml-2 mt-2 btn btn-primary float-right" value="Add">
                </form>
            </div>
        </div>
        <br class="no-mob">
    <% include partials/footer %>